
<app-header></app-header>

<ul>
  <li><a (click)="allTableData()">ALL</a></li>
  <li><a >Best Sellers</a></li>
  <li><a >Prime Video</a></li>
  <li><a >Buy Again</a></li>
  <li><a >Contact Us</a></li>
</ul>
<!--{{responseData|json}}-->

<table *ngIf = "showTable">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Salary</th>
  </tr>
  <tr *ngFor = "let respData of responseData.data">
    <td>{{respData.id}}</td>
    <td>{{respData.employee_name}}</td>
    <td>{{respData.employee_age}}</td>
  </tr>
</table>

<router-outlet></router-outlet>